@page "/ShowCredentialsFromContext"
@using System.Security.Claims

<h3>Show Credentials From Context</h3>
<p>Here we can see the users credentials</p>
<AuthorizeView>
    <Authorized>
        <h3>Hello @context?.User.Claims.First(claim => claim.Type.Equals("Username")).Value</h3>
        <p>@context?.User.Claims.First(claim => claim.Type.Equals("role")).Value</p>
        <p>
            Your claims include:
        <ol>@if (context?.User?.Claims != null)
                    @foreach (Claim claim in context.User.Claims)
                    {
                    <li>
                        <label>@claim.Type: @claim.Value</label>
                    </li>
                    }
            )
        </ol>
        </p>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy="MustBeVia">
    <p>You are VIA</p>
</AuthorizeView>